<div class="section bg-dark text-white">
    <div class="container  py-5">
        <div class="row ">
            <div class="col-xs-4 col-sm-1 col-md-3 col-lg-4">
                <ul>
                    <p><h6>About us</h6>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    
                </ul>
            </div>
            <div class="col-xs-4 col-sm-1 col-md-3 col-lg-4  text-center">
                <p><h6>Navigations</h6>
                    Home<br>
                About<br>
                Contact<br></p>
                
                
            </div>
            <div class="col-xs-4 col-sm-1 col-md-3 col-lg-4 text-center p-3">
                <h6>Follow us</h6>
                <i class="fa fa-facebook fa-2x p-2" aria-hidden="true"></i>
                <i class="fa fa-whatsapp fa-2x p-2" aria-hidden="true"></i>
                <i class="fa fa-youtube fa-2x p-2" aria-hidden="true"></i>


            </div>
        </div>
    </div>
</div>

  <script src="/public/js/bootstrap.min.js"></script>
  
</body>
</html>